<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <!-- 小明的筆記本 -->
  <h1>問題：如何完成刪除項目</h1>
  <ol>
    <li>如何在 “刪除” 按鈕中，加入 removeData 事件，並帶入 id</li>
    <li>如何透過索引刪除陣列上的一個值</li>
  </ol>
  <div id="app">
    <h2>新增區塊</h2>
    <input type="text" v-model="newText">
    <button type="button" @click="addData">送出</button>

    <hr>
    <h2>列表</h2>
    <ul>
      <li v-for="(item, i) in list" :key="i">
        {{ item.content }}
        <button type="button">編輯</button>
        <button type="button" @click="removeData(item.id)">刪除</button>
      </li>
    </ul>

    <hr>
    <h2>編輯區域</h2>
    <input type="text">
    <button type="button">確認編輯</button>
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          // 建構資料
          text: '小明的筆記本',
          newText: '',
          list: [
            {
              id: 1,
              content: '一些內容'
            },
            {
              id: 2,
              content: '第二筆內容'
            }
          ],
          other: [],
          tempData: {}
        }
      },
      methods: {
        addData() {
          const id = (new Date()).getTime()
          const newData = {
            id,
            content: this.newText
          }
          this.newText = ''
          this.list.push(newData);
        },
        removeData(id) {
          // 透過 id 取得陣列索引
          let index;
          this.list.forEach((item, key) => {
            if (item.id == id) {
              index = key; 
            }
          });
          console.log(id);
          // #2 如何刪除一個項目
          this.list.splice(index, 1)
        },
      },
      created() {
      }
    }).mount('#app')

  </script>
</body>
</html>