<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <!-- 小明的筆記本 -->
  <div id="app">
    {{ text }}
    <input type="text" v-model="newText">
    <button type="button" v-on:click="addData">送出</button>
    <ul>
      <li v-for="(item, i) in list">
        {{ i + 1 }} {{ item.content }}
        <button type="button" @click="prepareEdit(item)">編輯</button>
        <button type="button" @click="removeData(item.id)"
          v-bind:data-id="item.id">刪除</button>
      </li>
    </ul>

    <hr>
    <input type="text" v-model="tempData.content">
    <button type="button" @click="editDone">確認編輯</button>
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          // 建構資料
          text: '小明的筆記本',
          newText: '',
          list: [
            {
              id: 1,
              content: '一些內容'
            },
            {
              id: 2,
              content: '第二筆內容'
            }
          ],
          other: [],
          tempData: {}
        }
      },
      methods: {
        addData() {

          const id = (new Date()).getTime()
          const newData = {
            id,
            content: this.newText
          }
          console.log(newData);
          this.newText = ''
          this.list.push(newData);
        },
        removeData(id) {
          let index;
          this.list.forEach((item, key) => {
            if (item.id == id) {
              index = key;
            }
          });
          this.list.splice(index, 1);
        },
        prepareEdit(item) {
          this.tempData = Object.assign({}, item);
        },
        editDone() {
          this.list.forEach((item, key) => {
            if(item.id === this.tempData.id){
              this.list[key] = this.tempData;
            }
          });
          this.tempData = {};
        }
      },
      created() {
      }
    }).mount('#app')

  </script>
</body>
</html>