<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 5/21</title>
</head>

<body>
    <div id="app">
        <form class="container p-2">
            <h3>個人田野調查</h3>
            <div class="mb-3">
                <label for="name" class="mb-2">Q1: 請填入姓名</label>
                <br>
                <!--    請用 v-model (綁定對象為 personalInfo.name) -->
                <input type="text" id="name" v-model="personalInfo.name">
            </div>

            <div class="mb-3">
                <p class="mb-2">Q2: 請選擇性別</p>
                <div class="form-check" v-for="(item,key) in genders" :key="key">
                    <!--    請用  v-model(綁定對象為 personalInfo.genders) + v-bind + v-for (記得搭配 key) -->
                    <input class="form-check-input" type="radio" value="" id="">
                    <label class="form-check-label" for="(arr,arrValue) in item" :key="arrValue">{{item}}</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="favoritePet" class="mb-2">Q3: 您是貓派還是狗派?</label>
                <br>
                <!--    請用  v-model(綁定對象為 personalInfo.favoritePet) + v-bind + v-for (記得搭配 key)，綁定對象為 petGenre -->
                <select name="favoritePet" id="favoritePet">
                    <option value="">我是{{}}</option>
                </select>
            </div>
            <div class="mb-3">
                <p class="mb-2">Q4: 您的甜點愛好</p>
                <!--    請用  v-model(綁定對象為 personalInfo.loveDessert)  + v-bind + v-for (記得搭配 key) -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        {{ dessert }}
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <p class="mb-2">Q5: 是否為單身</p>
                <!--  請用  v-model (綁定對象為 single) -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="single">
                    <label class="form-check-label" for="single">
                        {{}}
                    </label>
                </div>
            </div>
            <hr>
            <ul>
                <li>姓名: {{ personalInfo.name }}</li>
                <li>性別: {{ personalInfo.gender }}</li>
                <li>貓派 or 狗派: {{ personalInfo.favoritePet }}</li>
                <li>甜點愛好: {{ personalInfo.loveDessert }}</li>
                <li>是否單身: {{ personalInfo.single }}</li>
            </ul>
        </form>
    </div>
    <ol>
        <li>請同學使用 v-model, v-bind, v-for 的概念完成練習，填寫上方的表單將可以同步更新下方 ul 的資料。</li>
        <li>選項的 label for、input id 需要互相對應。</li>
        <li>Q2, Q3, Q4 的選項需要用 v-for 呈現。</li>
        <li>Q5 的部分只需要用一個 checkbox, 並會在 true, false 之間做切換。</li>  
    </ol>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = {
            data() {
                return {
                    personalInfo: {
                        name: '',
                        gender: '',
                        favoritePet: '貓派',
                        loveDessert: [],
                        single: true,
                    },
                    genders: ['男', '女', '不限制'],
                    petGenre: ['貓派', '狗派'],
                    desserts: ['冰淇淋', '巧克力', '鬆餅']
                }
            }
        }
        Vue.createApp(app).mount('#app')
    </script>

</body>

</html>